<nav class="flex px-15 py-5 gap-5 bg-blue-600 text-white text-lg justify-between items-center ">
  <a class="text-4xl" routerLink="">TechStore</a>

  <label class="input bg-white">
    <svg class="h-[1em] opacity-50 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input type="search" required placeholder="Buscar" class="text-gray-500" [formControl]="searchBy" />
  </label>

  <div class="flex gap-15 items-center">
    <div class="flex items-center cursor-pointer" (click)="toggleCart()">
      <fa-icon [icon]="faCartShopping" />
      <span class="text-sm">({{cartService.items().length}})</span>
    </div>

    @if (tokenService.getPayload()) {

    <div class="flex items-center">
      <span class="text-sm">Bienvenido: </span>
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary><span class=""> {{tokenService.getSubject()}}</span></summary>
            <ul class="p-2 bg-white text-black w-30 z-1 -translate-x-1/2 text-xs">
              <li><a [routerLink]="['/edit-profile/',tokenService.getId()]">Editar mi perfil</a></li>
              <li><button type="button" (click)="logOut()">Cerrar sesión</button></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    } @else {
    <a routerLink="/auth/login" class="text-sm">Login</a>
    }
  </div>
</nav>



<nav class="flex gap-15 bg-white text-black px-15 border border-blue-400">
  <select class=" bg-white w-35" [formControl]="categorySelect">
    <option [value]="''" selected disabled>Categorias</option>
    <option [value]="''">--Todos--</option>

    @for (category of categoriesResource.value()?.content; track category.id) {
    <option [value]="category.id">{{category.name}}</option>
    }
  </select>


  <select class=" bg-white w-35" [formControl]="brandSelect">
    <option [value]="''" selected disabled>Marcas</option>
    <option [value]="''">--Todos--</option>

    @for (brand of brandsResource.value()?.content; track brand.id) {
    <option [value]="brand.id">{{brand.name}}</option>
    }
  </select>

</nav>


<!-- cart modal-->
<cart-modal [isOpen]="openCart()" (close)="toggleCart()"></cart-modal>