<div class="flex flex-col gap-5">

  <div class="flex gap-5">
    <section>
      <img [src]="productResource.value()?.images![0].imageUrl" alt="" class="h-150 w-200">
    </section>

    <section class="flex flex-col gap-15 max-w-1/2">
      <p class="text-2xl font-semibold">{{productResource.value()?.name}}</p>
      <p class="text-blue-700 font-semibold text-3xl"><span> ( </span>{{productResource.value()?.price |
        number:'1.2-2'}} S/.)
      </p>

      <section class="flex gap-10 items-center">
        <div class="flex flex-col ">
          <div class="flex justify-between border border-gray-500 p-3 gap-10 items-center rounded-sm">
            <button type="button" class="text-xl cursor-pointer " (click)="onDecrement()"> - </button>
            <input type="text" class="text-xl w-10 text-center focus:outline-none" [formControl]="quantityInput"
              #inputQty (focus)="inputQty.select()">
            <button type="button" class="text-xl cursor-pointer" (click)="onIncrement()"> + </button>
          </div>
          <span class="text-red-400 text-xs  text-center">max 50</span>
        </div>

        <button type="button" class="px-3 py-1 bg-blue-600 text-white font-semibold text-xl 
          cursor-pointer rounded-sm" (click)="onAddToCart(productResource.value()!)">Añadir al carrito
        </button>
      </section>
    </section>

  </div>

  <section class=" flex flex-col gap-5 mt-15">
    <h1 class="font-bold text-3xl">DESCRIPCION:</h1>
    <p class="whitespace-pre-wrap">
      {{productResource.value()?.description}}
    </p>
  </section>
</div>

@if (addToCartToast()) {
  <cart-toast></cart-toast>
} 