<div class="card bg-white w-70 shadow-sm z-10">
  <a class=" cursor-pointer" [routerLink]="['/product-details',product()?.id]">
    <figure class="px-10 pt-10">
      <img [src]="product()?.images![0].imageUrl" alt="" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title hover:text-blue-700 line-clamp-2">{{product()?.name}}</h2>
      <p class="text-xl text-blue-700 font-bold">S/. {{product()?.price | number:'1.2-2'}}</p>
    </div>
  </a>
  <div class="card-body items-center">
    <button type="button" class="btn btn-primary" (click)="onAddToCart(product()!)">Añadir al carrito</button>
  </div>
</div>

@if (addToCartToast()) {
  <cart-toast></cart-toast>
} 