<div class="card bg-white w-70 shadow-sm">
  <figure class="px-10 pt-10">
    <img [src]="product()?.images![0].imageUrl" alt="Shoes"
      class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title hover:text-blue-700 line-clamp-2">{{product()?.name}}</h2>
    <p class="text-xl text-blue-700 font-bold">S/. {{product()?.price}}</p>
    <div class="card-actions">
      <button class="btn btn-primary">Añadir al carro</button>
    </div>
  </div>
</div>