<section class="">
  <h1 class="text-4xl text-center my-10 font-bold">Lista de Usuarios</h1>

  <div class="flex flex-col md:flex-row md:justify-between md:items-center mt-15">
    <div class="flex justify-center md:justify-start md:w-1/2 items-center">
      <a type="button" routerLink="form"
        class="bg-blue-600 hover:bg-blue-700 text-white w-full md:w-fit text-center px-6 py-2 rounded-md transition-colors">
        Crear Usuario
      </a>
    </div>

    <div class="flex flex-col md:flex-row justify-start  gap-3 w-full my-15">
      <label for="search-by" class="text-gray-400">Buscar por nombre/apellido:</label>
      <input type="text" id="search-by" class="border rounded-sm px-2" autofocus [formControl]="searchByInput">
    </div>

  </div>


  @if (usersResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="usersResource.value()?.totalPages" [currentPage]="usersResource.value()?.page" />
  </div>
  }


  @if (usersResource.isLoading()) {
  <loading-dots />
  } @else if (usersResource.value()?.content?.length==0) {
  <div class="flex flex-col items-center mt-15">
    <p class="text-red-400 text-sm bg-red-50 px-4 py-2 rounded-lg border border-red-100">
      No se encontraron usuarios
    </p>
  </div>
  }

  @else {
  <div class="flex-1">

    <!-- table desktop -->
    <div class="hidden md:block">
      <users-table [users]="usersResource.value()?.content" (onDelete)="eliminarUser($event)" />
    </div>

    <!-- table mobile -->
    <div class="md:hidden">
      <users-table-mobile [users]="usersResource.value()?.content" (onDelete)="eliminarUser($event)" />
    </div>
  </div>

  }

  @if (usersResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="usersResource.value()?.totalPages" [currentPage]="usersResource.value()?.page" />
  </div>
  }

</section>