<div class="fixed inset-0 z-10 bg-black/70">
  <div class="bg-white dark:bg-base-100 z-20 rounded-sm  absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-50 w-50 p-3 flex flex-col
         items-center justify-center">
    <!-- From Uiverse.io by SouravBandyopadhyay -->
    <div class="text-center">
      <div class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-yellow-500 mx-auto"></div>
      <h2 class="text-zinc-900 dark:text-white mt-4">Guardando...</h2>
    </div>
  </div>
</div>