<footer class="footer sm:footer-horizontal bg-gray-700 dark:bg-neutral text-neutral-content p-10">
  <nav class=" w-full justify-center">
    <p>
      Desarrollado por:
      <a href="https://github.com/billylpz" target="_blank" rel="noopener noreferrer" class="text-blue-400 dark:text-blue-500
        link link-hover">Billy López </a>
    </p>

    <p >
      Repositorio GitHub:
      <a href="https://github.com/billylpz/techstore-app" target="_blank" rel="noopener noreferrer" class="text-blue-400 dark:text-blue-500
        link link-hover">TechStore APP </a>
    </p>

    <p class="mt-5 text-center  w-full">
      © 2026
    </p>

  </nav>

</footer>