<section class="flex flex-col flex-1">
  <h1 class="text-4xl md:text-4xl text-center my-6 md:my-10 font-bold">Lista de Categorias</h1>



  <div class="flex flex-col gap-10  justify-between md:flex-row md:gap-3 mt-15">
    <div class="flex justify-center items-center md:justify-start  md:w-1/2">
      <a type="button" routerLink="form"
        class="bg-blue-600 hover:bg-blue-700 text-white w-full md:w-fit text-center px-6 py-2 rounded-md transition-colors">
        Crear Categoria
      </a>
    </div>
    <admin-filter-bar class="w-full" (searchByNameValueEmitter)="searchByNameResult.set($event)"
      (filterSelectionEmitter)="filterSelection.set($event)">
    </admin-filter-bar>
  </div>

  @if (categoriesResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="categoriesResource.value()?.totalPages" [currentPage]="categoriesResource.value()?.page" />
  </div>
  }

  @if (categoriesResource.isLoading()) {
  <loading-dots/>
  }@else if (categoriesResource.value()?.content?.length==0) {
  <div class="flex flex-col items-center mt-10">
    <p class="text-red-400 text-sm bg-red-50 px-4 py-2 rounded-lg border border-red-100">
      No se encontraron categorias
    </p>
  </div>
  }
  @else {

  <div class="flex-1">

    <!-- table desktop -->
    <div class="hidden md:block">
      <categories-table [categories]="categoriesResource.value()?.content" (onDelete)="eliminarCategoria($event)" />
    </div>

    <!-- table mobile -->
    <div class="md:hidden">
      <categories-table-mobile [categories]="categoriesResource.value()?.content"
        (onDelete)="eliminarCategoria($event)" />
    </div>
  </div>

  }

  @if (categoriesResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="categoriesResource.value()?.totalPages" [currentPage]="categoriesResource.value()?.page" />
  </div>
  }

</section>