<section class="flex flex-col flex-1">
  <h1 class="text-4xl text-center my-10 font-bold">Lista de Marcas</h1>


  <div class="flex flex-col  md:flex-row md:justify-between md:items-center mt-15">
    <div class="flex justify-center md:justify-start md:w-1/2 ">
      <a type="button" routerLink="form"
        class="bg-blue-600 hover:bg-blue-700 text-white w-full md:w-fit text-center px-6 py-2 rounded-md transition-colors">
        Crear Marca
      </a>
    </div>

    <admin-filter-bar class="w-full" (searchByNameValueEmitter)="searchByNameResult.set($event)"
      (filterSelectionEmitter)="filterSelection.set($event)" />
  </div>

  @if (brandsResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="brandsResource.value()?.totalPages" [currentPage]="brandsResource.value()?.page" />
  </div>
  }

  @if (brandsResource.isLoading()) {
  <loading-dots/>
  } @else if (brandsResource.value()?.content?.length==0) {
   <div class="flex flex-col items-center mt-15">
    <p class="text-red-400 text-sm bg-red-50 px-4 py-2 rounded-lg border border-red-100">
      No se encontraron marcas
    </p>
  </div>
  }@else {
  <div class="flex-1">

    <!-- table desktop -->
    <div class="hidden md:block">
      <brands-table [brands]="brandsResource.value()?.content" (onDelete)="eliminarMarca($event)" />

    </div>

    <!-- table mobile -->
    <div class="md:hidden">
      <brands-table-mobile [brands]="brandsResource.value()?.content" (onDelete)="eliminarMarca($event)" />
    </div>
  </div>
  }

  @if (brandsResource.value()?.totalElements!>0) {
  <div class="flex justify-center">
    <paginator [totalPages]="brandsResource.value()?.totalPages" [currentPage]="brandsResource.value()?.page" />
  </div>
  }

</section>