<div class="flex flex-col justify-center mt-10 gap-5">


  <table class="table-auto w-full  border-separate border-spacing-y-2 ">
    <thead>
      <tr class="text-left border-b border-gray-700 text-red-400">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">NOMBRE</th>
        <th class="px-4 py-2">ESTADO</th>
        <th class="px-4 py-2">FECHA CREACIÓN</th>
        <th class="px-4 py-2">EDITAR</th>
        <th class="px-4 py-2">ELIMINAR</th>
      </tr>
    </thead>

    <tbody>
      @for (brand of brands() ; track brand.id) {
      <tr class="hover:bg-gray-800 transition-colors text-sm">
        <td class="px-4 py-3 border-t border-gray-700">{{brand.id}}</td>
        <td class="px-4 py-3 border-t border-gray-700">{{brand.name}}</td>
        <td class="px-4 py-3 border-t border-gray-700" [ngClass]="brand.active | activeStateColor">
          {{brand.active | activeTextEntity }}</td>
        <td class="px-4 py-3 border-t border-gray-700">{{brand.createdAt | date:'medium'}}</td>
        <td class="px-4 py-3 border-t border-gray-700">
          <a class="bg-warning px-3 text-black rounded-sm  " [routerLink]="['form',brand.id]">Editar</a>
        </td>
        <td class="px-4 py-3 border-t border-gray-700">
          <button type="button" class="px-3 rounded-sm cursor-pointer border"
            [ngClass]="!brand.active | activeStateColor" (click)="eliminar(brand)">
            {{brand.active ? 'Deshabilitar':'Habilitar'}}</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>