<div class="flex gap-5 justify-between">
  <div class="flex justify-center items-center gap-3 ">
    <label for="search-by" class="text-gray-400">Buscar por nombre:</label>
    <input type="text" id="search-by" class="border rounded-sm px-2" autofocus [formControl]="searchByName">
  </div>

  <div class="flex items-center">
    <label for="select">Filtrar por:</label>
    <select name="filterBy" id="select" class="" (change)="onFilterChange(selectValue.value)" #selectValue>
      <option value="1" class="text-black">--seleccione--</option>
      <option value="1" class="text-black">Todos</option>
      <option value="2" class="text-black">Habilitado</option>
      <option value="3" class="text-black">Inhabilitado</option>
    </select>
  </div>
</div>