<div class="navbar bg-base-100 shadow-sm px-10">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <!--mobile-->
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a>Mantenimiento</a>
          <ul class="p-2 bg-base-100 w-40 z-1">
            <li><a routerLink="products">Productos</a></li>
            <li><a routerLink="brands">Marcas</a></li>
            <li><a routerLink="categories">Categorias</a></li>
            <li><a routerLink="users">Usuarios</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="text-xl" routerLink="home">TechStore</a>
  </div>

  <!-- desktop -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>Mantenimiento</summary>
          <ul class="p-2 bg-base-100 w-40 z-1">
            <li><a routerLink="products">Productos</a></li>
            <li><a routerLink="brands">Marcas</a></li>
            <li><a routerLink="categories">Categorias</a></li>
            <li><a routerLink="users">Usuarios</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <!-- navbar end -->
  <div class="navbar-end flex">

    @if (tokenService.getPayload()) {
    <span >Bienvenido: </span>
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary><span class="text-red-400"> {{tokenService.getSubject()}}</span></summary>
          <ul class="p-2 bg-base-100 w-35 z-1 -translate-x-1/2 text-xs">
            <li><a [routerLink]="['/admin/users/form',tokenService.getId()]">Editar mi perfil</a></li>
            <li><a class="text-blue-400" [routerLink]="['',tokenService.getId()]">Ir a página pública</a></li>
            <li><button type="button" (click)="logOut()">Cerrar sesión</button></li>
          </ul>
        </details>
      </li>
    </ul>

    } @else {
    <a class="" routerLink="/auth/login">Login</a>
    }
  </div>
</div>